<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    <article class="post">
      <div class="title">
        <a href="/post/{{post.id}}">{{post.title}}</a>
        <span>({{post.created_at}})</span>
      </div>
      <div class="meta">
        {{post.user.username}}
      </div>
      <div class="content">
        {{post.content}}
        <a href="/">{{post.comments.length}} comment(s)</a>
      </div>
    </article>
  </li>
  {{/each}}
</ol>